<!DOCTYPE html>
<html>
<head>
	<title>Wow Planner!</title>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>-->
	<script type="text/javascript" src="../angularjs/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="services/WowTask.js"></script>
	<script src="angular-local-storage.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css"/>
	<link rel="stylesheet" type="text/css" href="theme.css"/>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body ng-app="wowApp" ng-controller="wowController as wowCtrl">
<div id="modal" ng-show="isModalVisible()" ng-click="modalClick();"></div>
<div id="mainWrapper">
	<div id="filterDiv">
		<h1>Wow Planner</h1>
		<label><input type="radio" name="activeFilter" ng-model="activeFilter" ng-value="filters.all">All Tasks</label><br>
		<label><input type="radio" name="activeFilter" ng-model="activeFilter" ng-value="filters.dueToday">Due Today</label>
		<br>
		<fieldset>
			<legend>Tags</legend>
			<span ng-repeat="(key, value) in collectTags()">
				<input type="checkbox" ng-value="value">
				<label>{{key}}</label>
			</span>
		</fieldset>
		<br><br>
		<button ng-click="scopeDump()" ng-show="debugMode">Scope Dump</button>
		<button ng-click="localStorageDump()" ng-show="debugMode">Local Storage Dump</button>
	</div>

	<div id="mainArea">
		<div id="addTaskDiv">
			<input type="text" ng-model="newTask.title" ng-keydown="returnKeyOverride($event,addTask);" placeholder="Add a task...">
			<button type="button" ng-click="addTask()">Add Task</button>
		</div>
		<ul id="taskList">
			<wow-task-li  ng-repeat="task in tasks | filter:activeFilter | filter: {isComplete:false} | orderBy:recursiveTaskOrder"/>
		</ul>
		<button ng-click="showCompleted = !showCompleted" type="button">Show/Hide Completed Tasks</button>
		<div id="completedTasks" ng-show="showCompleted">
			<h3>Completed Tasks</h3>
			<ul id="taskList">
				<wow-task-li  ng-repeat="task in tasks | filter:activeFilter | filter: {isComplete:true}"/>
			</ul>
		</div>
	</div>
</div>

<div id="taskEditorDiv" ng-class="{taskEditorHidden:!selectedTask}">
	<button type="button" ng-click="closeTaskEditor();">Close</button>
	<input ng-model="selectedTask.title" />
	<div class="row">
		<label>Deadline<input type="date" ng-model="selectedTask.deadline"></label>
	</div>
	<div class="row">
		<label>Importance<input type="range" ng-model="selectedTask.priority" min="1" max="5"></label>
	</div>
	<div class="row">
		<fieldset>
			<legend>Tags</legend>
			<span ng-repeat="tag in selectedTask.tags">
				{{tag}}<button type="button" ng-click="selectedTask.RemoveTag(tag)">X</button>
			</span>
		</fieldset>
		<label>Add Tag<input ng-model="selectedTask.newTag" type="text" list="taskEditorTagList">
		</label>
		<button type="button" ng-click="selectedTask.AddTag();" ng-keyup="returnKeyOverride($event,selectedTask.AddTag);">+</button>
		<datalist id="taskEditorTagList">
			<option ng-repeat="(key,value) in collectTags()">{{key}}</option>
		</datalist>
		<div class="clear"/>
		<!-- /*Dependant on...*/ -->
		<label>Prerequisites
		<select multiple="multiple" ng-model="selectedTask.prerequisites" 
			ng-options="prereqTask.ID as prereqTask.title for prereqTask in tasks | filter: {isComplete: false}">
		</select>
		</label>
		<button ng-click="taskDump()" ng-show="debugMode">Task Dump</button>
	</div>
</div>

</body>
</html>