<!DOCTYPE html>
<html>
<head>
	<title>Wow Planner!</title>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> -->
	<script src="/node_modules/angular/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="services/WowTask.js"></script>
	<script src="services/webService.js"></script>
	<script src="services/taskAdder.js"></script>
	<script src="/node_modules/angular-local-storage/src/angular-local-storage.js"></script>
	<script src="nonAngular.js"></script>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script> -->
	<!-- <script type="text/javascript" src="../angularjs/angular-animate.min.js"></script> -->
	<script src="/node_modules/angular-animate/angular-animate.min.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css"/>
	<link rel="stylesheet" type="text/css" href="theme.css"/>
	<link rel="stylesheet" type="text/css" href="responsive.css"/>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="manifest" href="manifest.json">
</head>
<body ng-app="wowApp" ng-controller="wowController as wowCtrl">
<div id="modal" ng-show="isModalVisible()" ng-click="modalClick();"></div>
<div id="mainWrapper">
	<div id="filterDiv">
		<h1>Wow Planner</h1>
		<div ng-show="debugMode">
			<button type="button" ng-click="displayLoginDialog = true;selectedTask = null;"
				 ng-show="!userData.username">Login</button>
			<button type="button" ng-click="displayRegisterDialog = true;selectedTask = null;"
				ng-show="!userData.username">Register</button>
			<button type="button" ng-click="logoutSubmit();"
				ng-show="userData.username">Log Out</button>
		</div>		
		<!-- <button ng-click="debugMode = !debugMode;">Toggle Debugging</button> -->
		<button type="button" ng-click="deleteAllTasksOnServer()"
		ng-show="debugMode && userData.username">Delete Tasks on server</button>
		<br>
		<div id="filterWrapper">
		<label  ng-show="currentView === 'allTasksView'"><input type="radio" name="activeFilter" ng-model="activeFilter" ng-value="filters.all">All Tasks</label><br>
		<label ng-show="currentView === 'allTasksView'"><input type="radio" name="activeFilter" ng-model="activeFilter" ng-value="filters.dueToday">Due Today</label>
		<br>
		<fieldset ng-show="currentView === 'allTasksView'">
			<legend>Tags</legend>
			<div ng-repeat="(key, value) in tagMap" class=row contextmenu="tagMenu">
				<input type="checkbox" ng-model="tagMap[key]" ng-attr-id="{{'toggleTag' + $index}}">
				<label ng-attr-for="{{'toggleTag' + $index}}">{{key}}</label>
			</div>

		<menu type="context" id="tagMenu">
			<menuitem label="Show Only This" onclick="showOnlyThisTagExternal(event);"/>
			<menuitem label="Delete This Tag" onclick="deleteThisTagExternal(event);"/>
		</menu>
		</fieldset>
		<br><br>
		<button ng-click="scopeDump()" ng-show="debugMode">Scope Dump</button>
		<button ng-click="localStorageDump()" ng-show="debugMode">Local Storage Dump</button>
		</div>
	</div>
	<div class="dumbWrapper">
		<ul role="navigation" id="viewNavigiation">
			<li ng-click="currentView = 'summaryView'" tabindex="0">Summary View</li>
			<li ng-click="currentView = 'allTasksView'" tabindex="0">All Tasks</li>
		</ul>
		<div id="mainArea">
		
		<div id="summaryView" class="view" ng-show="currentView === 'summaryView'">
			<h2>Hi!</h2>
			<span ng-show="numberOfOverdueDeadlines();" style="color:red">
				You have {{numberOfOverdueDeadlines()}} overdue
				deadline<span ng-show="numberOfOverdueDeadlines() > 1">s</span>!
			</span>

			<div add-task task-adder="taskAdder" new-task="newTask">			
			</div>
			<!-- <datalist id="existingTasksToScheduleList">
				<option ng-repeat="task in (tasks|filter:filters.notCompleted)" ng-value="task">{{task.title}}</option>
			</datalist> -->

			<h3 ng-show="(tasks|filter:filters.scheduledToday).length">Tasks for Today:</h3>
			<ul id="taskList">
				<wow-task-li  ng-repeat="task in tasks | filter:filters.scheduledToday | filter:tagFilter | orderBy:recursiveTaskOrder"/>
			</ul>
			<span ng-show="numberOfDeadlinesNextWeek();">
				You have {{numberOfDeadlinesNextWeek()}} deadlines in the next week.
			</span>
			<h3 ng-show="!numberOfOverdueDeadlines()">Your top priority tasks:</h3>
			<ul id="taskList">
				<wow-task-li  ng-repeat="task in tasks | filter:filters.notComplete|orderBy:recursiveTaskOrder | limitTo: 5"/>
			</ul>
		</div>
		<div id="allTasksView" class="view" ng-show="currentView === 'allTasksView'">
			<div add-task task-adder="taskAdder" new-task="newTask">			
			</div>
			<ul id="taskList">
				<wow-task-li  ng-repeat="task in tasks | filter:activeFilter | filter: {isComplete:false} |filter:tagFilter | orderBy:recursiveTaskOrder"/>
			</ul>
			<button ng-click="showCompleted = !showCompleted" type="button">
				{{showCompleted?'Hide':'Show'}} Completed Tasks
			</button>
			<div id="completedTasks" ng-show="showCompleted">
				<h3>Completed Tasks</h3>
				<ul id="taskList">
					<wow-task-li  ng-repeat="task in tasks | filter:activeFilter | filter: {isComplete:true}"/>
				</ul>
			</div>
			<menu type="context" id="taskCtxMenu">
				<menuitem label="Delete" onclick="deleteTaskExternal(event);"/>
			</menu>
		</div>
	</div>
	</div>
</div>

<div sidebar id="taskEditorDiv" ng-class="{sidebar:true, sidebarHidden:!selectedTask}">
	
	<div class="row">
		<button type="button" ng-click="closeTaskEditor();">Close</button>
		<input ng-model="selectedTask.title" />
	</div>
	<div class="row">
		<label>Schedule</label>
		<button type="button" ng-click="selectedTask.scheduleForToday()"
			ng-show="!selectedTask.scheduledDate && !showSchedulePicker">
			Schedule for today
		</button>
		<button type="button" ng-click="showSchedulePicker = true;"
			ng-show="!selectedTask.scheduledDate && !showSchedulePicker">
			Schedule for another day
		</button>
		<input type="date" ng-model="selectedTask.scheduledDate"
			ng-show="selectedTask.scheduledDate || showSchedulePicker" date-format="dd/mm/yyyy">
	</div>
	<div class="row">
		<label>Deadline</label><input type="date" ng-model="selectedTask.deadline" date-format="dd/mm/yyyy">
	</div>
	<div class="row">
		<label>Importance</label><input type="range" ng-model="selectedTask.priority" min="1" max="5">
	</div>
	<div class="row">
		<fieldset ng-show="selectedTask.tags.length">
			<legend>Tags</legend>
			<span ng-repeat="tag in selectedTask.tags">
				{{tag}}<button type="button" ng-click="selectedTask.RemoveTag(tag)">X</button>
			</span>
		</fieldset>
	</div>
	<div class="row">
		<label>Add Tag</label><input ng-model="selectedTask.newTag" type="text" list="taskEditorTagList" ng-keyup="returnKeyOverride($event,addTagToSelectedTask);">
		<button type="button" ng-click="addTagToSelectedTask(selectedTask.newTag);">+</button>
		<datalist id="taskEditorTagList">
			<option ng-repeat="(key,value) in tagMap">{{key}}</option>
		</datalist>
	</div>
	<div class="row">
		<!-- /*Dependant on...*/ -->
		<label>Prerequisites</label>
		<select multiple="multiple" ng-model="selectedTask.prerequisites" 
			ng-options="prereqTask.ID as prereqTask.title for prereqTask in tasks | filter: {isComplete: false} | filter: preReqFilter">
		</select>
	</div>
	<div class="row" ng-show="debugMode">	
		<button ng-click="taskSubmit()">Submit To Server</button>
		<button ng-click="taskDump()">Task Dump</button>
		<button ng-click="downloadThisTask(selectedTask)">Log server copy of task</button>
	</div>
</div>

<div id="loginDiv" ng-class="{sidebar:true, sidebarHidden:!displayLoginDialog}">
	<form name="loginForm">
		<div class="row">
			<label>Username</label><input type="text" ng-model="loginDetails.username" required>
		</div>
		<div class="row">
			<label>Password</label><input type="password" ng-model="loginDetails.password" required>
		</div>
		<span id="loginResponse" ng-model="loginDetails.loginResponse"></span>
		<div class="row">
			<button type="button" ng-click="loginSubmit()">Login...</button>
		</div>
	</form>
</div>

<div id="registerDiv" ng-class="{sidebar:true, sidebarHidden:!displayRegisterDialog}">
	<form id="registrationForm">
		<div class="row">
			<label>Username</label><input type="text" ng-model="registrationDetails.username">
		</div>
		<div class="row">
			<label>Password</label><input type="password" ng-model="registrationDetails.password">
		</div>	
		<div class="row">
			<label>Email</label><input type="email" ng-model="registrationDetails.email">
		</div>
		<span id="loginResponse" ng-model="registrationDetails.loginResponse"></span>
		<div class="row">
			<button type="button" ng-click="registerSubmit()">Submit...</button>
		</div>
	</form>
</div>
<script type="text/javascript" src="/scripts/modernizr-custom.js"></script>
	<script type="text/javascript" src="/scripts/angular-date-picker-polyfill.min.js"></script>
</body>
</html>