/*general*/
*{	
	box-sizing:border-box;	
	font-family: 'Oxygen', sans-serif;
	border:black 0px none;
}

html,body{
	height:100%;
}

/*@font-face
{
    font-family: "Caviar Dreams";
    src: url(fonts/caviar_dreams/CaviarDreams.ttf);
}*/

@font-face
{
    font-family: "Hallo Sans";
    src: url("fonts/hallo_sans/Hallo sans.otf");
}

h1{
	font-family: "Hallo Sans", sans-serif;
	/*font-weight: bold;*/
}

body{
	padding:0;
	margin:0;
}

table{
	border: 1px solid;
	border-collapse: collapse;
}

input{
	height: 30px;
	padding:2px 10px;
}

input[type=checkbox],input[type=radio]{
	height:20px;
	width: 20px;
	flex-grow:0!important;
}

button{
	height:30px;	
	border-radius: 2px;
}

li{
	list-style: none;
	margin-bottom:1px;
	border-radius: 2px;
	border:solid 1px;


	padding:2px;
}

wow-task-li li > .fa{
	line-height: 0;top:13px;position:relative;
}

fieldset{
	border:solid 1px;
	margin-top:10px;
}
legend{
	font-weight: bold;
}

select[multiple] {
	height: 150px;
}

select[multiple] option{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	padding-top:5px;
}

.clear{
	clear:both;
}

.row{
	display:flex;
	align-items:center;
}

.row input:only-of-type, .row fieldset{
	flex-grow: 1;
}

.dumbWrapper{
	width:100%;
}

label + input, label + select, button + input, button + select, input + button,
label input, label select{
	margin-left:5px;
}

/*Page Regions*/
#mainWrapper{
	height: 100%;
	width:100%;	
	z-index: 1;
	display: flex;
}

#modal{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity: 0.5;
	background-color: black;
	z-index: 2;
}

#viewNavigiation{
	width:100%;
	margin:0;
	padding:0;
	display:flex;
}

#viewNavigiation li{
	flex-grow: 1;
	text-align: center;
}

/*Main Area*/
#mainArea{
	padding:10px;
	height: 100%;
	width:100%;
}

#addTaskDiv{
	display: flex;
	max-width: 500px;
}

#addTaskDiv input{
	flex-grow: 1;
	margin:0;
	margin-right: 1px;
}

#taskList{
	max-width:500px;
	padding: 0;
}

#taskList li{
	height:30px;
	cursor: pointer;
	position:relative;
}

#taskList li:hover{
	background-color:rgba(0,0,0,0.1);
}

#taskList li:after{
	content:'';
	clear:both;
	float:right;
	display:inline;
}


wow-task-li, wow-task-li li,
wow-task-li, wow-task-li li{
    transition: height opacity 1s;
    overflow:hidden;
}

wow-task-li.ng-enter, wow-task-li.ng-enter *{
    opacity: 0!important;
    height:0px!important;
}

/*wow-task-li.ng-enter,*/ wow-task-li.ng-enter li{
    opacity: 0!important;
    height:0px!important;
}
/*wow-task-li.ng-enter-active,*/ wow-task-li.ng-enter-active li{
    opacity: 1;
    height:30px;
}

wow-task-li.ng-animate.ng-leave, wow-task-li.ng-animate.ng-leave li{
    opacity: 1;
    height:30px;
}

wow-task-li.ng-animate.ng-leave-active li{
    opacity: 0;
    height:0px;
}

/*wow-task-li *{
	transition: inherit;
}*/

#taskList button{
	float:right;
	height:100%;
}

.taskText{
	position:absolute;
	line-height: 0;
	top:15px;
}

/*Filter sidebar*/
#filterDiv{
	height:100%;
	width:200px;
	border-right:#27596C 1px solid;
	padding:10px;
}

/*General Sidebar*/
.sidebar{
	height:100%;
	width:500px;
	box-sizing:border-box;
	position:fixed;
	right:0;
	top:0;

	border-left:#27596C 1px solid;
	padding-left:10px;
	padding-right:10px;

	transition: right 0.5s;
	z-index: 3;
}

.sidebarHidden{
	right:-500px!important;
}

.sidebar .row{
	clear:both;
	padding:3px;
}

.sidebar label{
	width:93px;
}