<li ng-click="taskClick(task)" contextmenu="taskCtxMenu" draggable="true">
	<input type="checkbox" ng-model="task.isComplete" ng-click="task.synced = false;$event.stopPropagation();">
	<span class="taskText">{{task.title}}</span>
	<button type="button" class="delete" ng-click="deleteTask(task);$event.stopPropagation();">
		<span class="fa fa-trash-o"></span>
	</button>
	<span style="float:right" ng-if="false&&debugMode">
		{{recursiveTaskOrder(task)}}
	</span>
	<span style="float:right"  class="fa fa-refresh" title="Not Synced!" ng-if="!task.synced && debugMode"></span>
	<span style="float:right;" class="fa fa-calendar-o" ng-if="task.deadline"></span>
</li>