body{
	/*//background-color: #eee;*/
	background-color:#b69fd4;
}

li{
	border-color:#888;
}

button{
	/*background-color: #297D48;*/
	/*color:#DFECE4;*/
	border:none;
}

#taskEditorDiv{
	background-color: #b69fd4;
}